In [2]:
import pandas as pd
import sqlite3

In [3]:
conn = sqlite3.connect("site.db")

In [4]:
cur = conn.cursor()

In [8]:
hours = pd.read_sql_query("select * from timesheet;", conn)

In [9]:
sites = pd.read_sql_query("select * from site;", conn)

In [45]:
sites = sites[['id', 'code']]

In [11]:
users = pd.read_sql_query("select * from user;", conn)

In [33]:
projects = pd.read_sql_query("select * from project;", conn)

In [21]:
users = users[['id', 'username']]

In [23]:
hours = hours[['id', 'dateOfWork', 'user_id', 'project_id', 'hours', 'comment']]

In [25]:
emp_hours = pd.merge(hours, users, left_on='user_id', right_on='id')

In [40]:
emp_hours

,id_x,dateOfWork,user_id,project_id,hours,comment,id_y,username
0,1,2019-06-17,1,1,6.0,Dans first test timsheet entry,1,Admin
1,2,2019-06-18,1,1,2.0,Dans second test timsheet entry,1,Admin
2,3,2019-06-19,1,2,4.5,Dans third test timsheet entry,1,Admin
3,4,2019-06-20,1,1,2.5,Dans fourth test timsheet entry,1,Admin
4,5,2019-06-21,1,3,5.5,Sealed and first coated walls,1,Admin
...,...,...,...,...,...,...,...,...
59,42,2020-02-26,4,7,10.0,NA,4,ChrisL
60,43,2020-02-27,4,7,2.0,NA,4,ChrisL
61,44,2020-02-27,4,9,3.0,NA,4,ChrisL
62,45,2020-02-27,4,10,2.0,NA,4,ChrisL
63,46,2020-02-25,4,7,6.0,NA,4,ChrisL

In [35]:
# projects

In [38]:
projects = projects[['id', 'site_id', 'name']]

In [42]:
emp_proj_hours = pd.merge(emp_hours, projects, left_on='project_id', right_on='id')

In [47]:
df = pd.merge(emp_proj_hours, sites, left_on='site_id', right_on='id')

In [56]:
df.loc[df.code=='VJH'].sort_values('dateOfWork')[['dateOfWork', 'username','hours', 'name']].to_excel('demo_hours.xlsx')

In [57]:
import os
os.getcwd()

'C:\\Users\\dyarmak\\Dropbox\\Sharing with Phone\\UltraDB\\PythonCode\\UltraDBSite'